.Nav {
	background-color: darkslategray;
}

.Nav a {
	display: inline-block;
	width: 25%;
	color: white;
	text-decoration: none;
	padding: 10px 0;
}

.Nav a:hover {
	background-color: rgb(74, 131, 131);
}

.Nav a.active {
	font-weight: bold;
	background-color: rgb(36, 61, 61);
}
